<ion-grid>
  <ion-text color="medium"><h3>Categorías</h3></ion-text>
  <ion-text color="medium"><h6>Estas son las categorías con los que se ha entrenado el clasificador. </h6></ion-text>
  <ion-row>
    <ion-col *ngFor="let category of this.categories">
      <ion-card class="card shadow" (click)="setCategorySelectedAndShowModal(category)">
        <ion-img [src]='category.imagePath'></ion-img>
        <ion-card-content>
          <ion-card-title>
            {{category.name}}
          </ion-card-title>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header class="ion-padding">
      <ion-toolbar>
        <ion-row>
          <ion-img class="category-details__image-logo" [src]="this.categorySelected.imagePath"></ion-img>
          <ion-title color="medium"><h5 class="category-details__title">{{this.categorySelected.name}}</h5></ion-title>
        </ion-row>
        <ion-icon slot="end" size="large" (click)="closeModal()" name="close-circle"></ion-icon>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <h6>
        Los tipos de {{this.categorySelected.name | lowercase}} con los que se ha entrenado el clasificador se
        muestran en las siguientes imágenes.
      </h6>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card class="card shadow card__details" *ngFor="let category of this.details">
              <ion-img class="category-details__card-image" [src]='category.imagePath'></ion-img>
              <ion-card-content>
                <ion-card-title>
                  <h6>
                    {{category.name}}
                  </h6>
                </ion-card-title>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
