@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&family=Montserrat:wght@400;500;600&display=swap');

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', serif;
  font-weight: 600;
  line-height: 26px;

}

h5,
h6,
p,
sub,
sup,
small {
  font-family: 'Manrope', serif;
  font-weight: 500;
  line-height: 26px;
}


