<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/icon/home.svg" ></ion-icon>
      <small>Inicio</small>
    </ion-tab-button>
    <ion-tab-button tab="scan">
      <ion-icon src="assets/icon/scan.svg"></ion-icon>
      <!--      <ion-icon class="icon-dot" src="assets/icon/dot.svg" ></ion-icon>-->
      <small>Escaneo</small>
    </ion-tab-button>
    <ion-tab-button tab="details">
      <ion-icon src="assets/icon/details.svg"></ion-icon>
      <small>Detalles</small>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
